body{
    margin:0;
    font-family: Arial,sans-serif;
    background-color: f0f0f0;
}

.navbar{
    background-color: #dfd4d4;
    color: whitesmoke;
    padding: 12px 0;
    box-shadow: 0 2px 5px rgba(139, 107, 0.2);
}

.nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item{
    display: inline-block;
    padding: 10px 20px;
    color: #ddd;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
}

.nav-item.active{
background-color:maroon(354 31% 18%);
color: white;  
font-weight: bold;  
}
.carousel-container {

display: flex;

justify-content: center;

align-items: center;

height: 300px;

/* Adjust based on your image height */

}

/* Hide all slides by default */

.myslides {

display: none;

max-height: 100%;

/* Ensure images fit within container */

max-width: 100%;

}